body {
	background-color: #676767;
}

.nav-bar, .hero, .services, .blog, .contact {
	margin-bottom: 20px;
}

.box {
	height: 100px;
	background-color: #003135;
	color: #AFDDE5;
	text-align: center;
	font-size: 40px;
	font-weight: bold;

}

